{% extends 'master.html' %}

{% load static %}

{% block title_name %}درباره ما{% endblock title_name %}

{% block Site_Content %}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text shabnam">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <!-- <h4>درباره ما</h4> -->
            <h2>درباره ما</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Banner Ends Here -->


<section class="about-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 shabnam ">
        <h3>دارکوب بلاگ منبع مقاله های کاربردی در حوزه کامپیوتر</h3>
        <br>
        <br>
        <h4>سازندگان وبسایت</h4>
        &nbsp;
        <hr>
        <div class="post-share">
          <h5>مهدی براتی مقدم</h5>
          <a class="" style="color:slateblue">Tel:</a>
          <a class="" style="color:slateblue">@mahdibaratiofficial</a>
          &nbsp;
          <a class="fa fa-github"></a>
          <a class="" href="https://github.com/mahdibaratiofficial">GitHub</a>
          &nbsp;
          <a class="fa fa-whatsapp" style="color: green;"></a>
          <a class="#" style="color: green;">+989022611464</a>
        </div>
        <div>

          <hr style="width:30% ;">

          <div class="post-share">
            <h5>علی سفرخانی</h5>
            <a class="" style="color:slateblue">Tel:</a>
            <a class="" style="color:slateblue">@ali040147</a>
            &nbsp;
            <a class="fa fa-github"></a>
            <a class="#" href="https://github.com/Ghost040147">GitHub</a>
            &nbsp;
            <a class="fa fa-whatsapp" style="color: green;"></a>
            <a class="#" style="color: green;">+989125012831</a>
          </div>
          <div>
            <hr style="width:30% ;">

            <div class="post-share">
              <h5>عباس صدف</h5>
              <a class="" style="color:slateblue">Tel:</a>
              <a style="color:slateblue">@abbassadaf</a>
              &nbsp;
              <a class="fa fa-whatsapp" style="color: green;"></a>
              <a class="" style="color: green;">+989103986456</a>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
</section>

{% endblock Site_Content %}