    {% extends 'master.html' %}

    {% load static %}

    {% block title_name %}About Us{% endblock title_name %}

    {% block Site_Content %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text shabnam">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <!-- <h4>درباره ما</h4> -->
                <h2>درباره ما</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="assets/images/about-us.jpg" alt="">
            <p></p>
          </div>
        </div>
      </div>
    </section>

    {% endblock Site_Content %}