{% extends 'master.html' %}

{% load static %}

{% block title_name %}Blog Entries{% endblock title_name %}

{% block Site_Content %}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content shabnam">
            <h4></h4>
            <h2>پست ها</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="all-blog-posts shabnam text-right">
          <div class="row">
            {% for post in posts %}
            <div class="col-lg-3 col-md-6">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{ post.photo.url }}" alt="{{ post.title }}" style="height:250px ;" class="radius-up">
                </div>
                <div class="down-content radius-down">
                  <a href="{% url 'post' pk=post.pk %}">
                    <h4>{{ post.title }}</h4>
                  </a>
                  <ul class="post-info">
                    <li><a href="#">{{ post.author }}</a></li>
                    <li><a href="#">{{ post.created_at }}</a></li>
                  </ul>
                  <p>{{ post.description|truncatechars:20 }}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="main-button">
                          <a href="{% url 'post' pk=post.pk %}">مشاهده پست</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock Site_Content %}