{% extends 'master.html' %}

{% load static %}

{% block title_name %}Home{% endblock title_name %}

{% block Site_Content %}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
      {% for post in posts %}
      <div class="item">
        <img src="{{ post.photo.url }}" alt="{{ post.title }}" style="height: 400px;">
        <div class="item-content">
          <div class="main-content">
            <div class="meta-category">
            </div>
            <!-- single post url -->
            <a href="">
              <h4>{{ post.title }}</h4>
            </a>
            <ul class="post-info">
              <li><a>{{ post.author }}</a></li>
              <li><a>{{ post.created_at }}</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Banner Ends Here -->

<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <!-- ------------------------------------------------------ -->
            {% for post in posts %}
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                </div>
                <div class="down-content">
                  <!-- Redirect To Single Post - Under Code: -->
                  <a href="">
                    <h4>{{ post.title }}</h4>
                  </a>
                  <ul class="post-info">
                    <li><a href="#">{{ post.author }}</a></li>
                    <li><a href="#">{{ post.created_at }}</a></li>
                  </ul>
                  <p>{{ post.description }}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">

                      </div>
                      <div class="col-6">
                        <ul class="post-share">
                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="#">Facebook</a>,</li>
                          <li><a href="#"> Twitter</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            <!-- _______________________________________________________ -->
            <div class="col-lg-12">
              <div class="main-button">
                <a href="/blog">View All Posts</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
                <form id="search_form" name="gs" method="GET" action="#">
                  <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                </form>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2>Recent Posts</h2>
                </div>
                <div class="content">
                  <ul>
                    <!-- _____________________________________________________________________ -->
                    {% for post in posts %}
                    <li><a href="">
                        <h5>{{ post.title }}</h5>
                        <span>{{ post.created_at }}</span>
                      </a></li>
                    {% endfor %}
                    <!-- _______________________________________________________________ -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item categories">
                <div class="sidebar-heading">
                  <h2>Categories</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="#">- Nature Lifestyle</a></li>
                    <li><a href="#">- Awesome Layouts</a></li>
                    <li><a href="#">- Creative Ideas</a></li>
                    <li><a href="#">- Responsive Templates</a></li>
                    <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                    <li><a href="#">- Creative &amp; Unique</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item tags">
                <div class="sidebar-heading">
                  <h2>Tag Clouds</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">Inspiration</a></li>
                    <li><a href="#">Motivation</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Responsive</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock Site_Content %}