{% extends 'master.html' %}

{% load static %}

{% block title_name %}خانه{% endblock title_name %}

{% block Site_Content %}

<!-- Page Content -->
<!-- Banner Starts Here -->
<br>
<div class="main-banner header-text shabnam">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
      {% for post in posts %}
      {% if forloop.counter < 10 %} <div class="item" >
        <img src="{{ post.photo.url }}" alt="{{ post.title }}" style="height: 400px;" class="radius">
        <div class="item-content">
          <div class="main-content">
            <div class="meta-category">
            </div>
            <!-- single post url -->
            <a href="{% url 'post' pk=post.pk %}">
              <h4>{{ post.title }}</h4>
            </a>
            <ul class="post-info">
              <li><a>{{ post.author }}</a></li>
              <li><a>{{ post.created_at }}</a></li>
            </ul>
          </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
</div>
<!-- Banner Ends Here -->

<section class="blog-posts shabnam text-right">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <!-- ------------------------------------------------------ -->
            {% for post in posts %}
            {% if forloop.counter < 4 %} <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb ">
                  <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="radius-up">
                </div>
                <div class="down-content radius-down shadow-sm">
                  <!-- Redirect To Single Post - Under Code: -->
                  <a href="{% url 'post' pk=post.pk %}">
                    <h4>{{ post.title }}</h4>
                  </a>
                  <ul class="post-info">
                    <li><a href="#">{{ post.author }}</a></li>
                    <li><a href="#">{{ post.created_at }}</a></li>
                  </ul>
                  <p>{{ post.description|truncatechars:30 }}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">

                      </div>
                      <div class="col-6">
                        <ul class="post-share">
                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="#">فیسبوک</a>,</li>
                          <li><a href="#"> توییتر</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          {% endif %}
          {% endfor %}
          <!-- _______________________________________________________ -->
          <div class="col-lg-12">
            <div class="main-button">
              <a href="/blog">مشاهده همه پست ها</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="sidebar">
        <div class="row">
          <div class="col-lg-12">

          </div>
          <div class="col-lg-12 shabnam text-right">
            <div class="sidebar-item recent-posts">
              <div class="">
                <h3>پست های پیشنهادی</h3>
                <!-- <br> -->
                <hr>
              </div>
              <div class="content">
                <ul>
                  <!-- _____________________________________________________________________ -->
                  {% for post in posts %}
                  {% if forloop.counter < 5 %} <li><a href="{% url 'post' pk=post.pk %}">
                      <h5>{{ post.title }}</h5>
                      <span>{{ post.created_at }}</span>
                    </a></li>
                    {% endif %}
                    {% endfor %}
                    <!-- _______________________________________________________________ -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock Site_Content %}