{% extends 'master.html' %}

{% load static %}

{% block title_name %}Post Details{% endblock title_name %}

{% block Site_Content %}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content shabnam">
            <h2>{{ post.title }}</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Banner Ends Here -->


<section class="blog-posts grid-system text-right">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts shabnam">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="radius-up">
                </div>
                <div class="down-content radius-down">
                  <a>
                    <h1>{{ post.title }}</h1>
                  </a>
                  <ul class="post-info">
                    <li><a>نویسنده : {{ post.author }}</a></li>
                    <li><a>{{ post.created_at }}</a></li>
                  </ul>
                  <p> {{ post.description }} </p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">

                      </div>
                      <div class="col-6">
                        <ul class="post-share">
                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="#">فیس بوک</a>,</li>
                          <li><a href="#"> توییتر</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
              </div>
            </div>
            <div class="col-lg-12 shabnam">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2 class="">مقاله های پیشنهادی</h2>
                </div>
                <div class="content">
                  <ul>
                    {% for pst in posts %}
                    {% if forloop.counter < 5 %} <li><a href="{% url 'post' pk=pst.pk %}">
                        <h5>{{ pst.title }}</h5>
                        <span>{{ pst.created_at }}</span>
                      </a></li>
                      {% endif %}
                      {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">

            </div>
            <div class="col-lg-12">
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>

{% endblock Site_Content %}